# The XMPP account to send notifications to.
# Change this to the JID of your Xmpp account (example: dthompson@gmail.com).
USERJID = "you@domain.com"

# The email address to send notifications to if you are offline.
USER_EMAIL = "you@domain.com"

#Twilio Account SID
TWILIO_ACID = "XXX"
#Twilio Auth Token
TWILIO_AUTH = "XXX"
#Twilio number to use
TWILIO_NUMBER = "555555555"

# set the domain your using for xmpp..
XMPP_DOMAIN = "<app_subdomain>.appspotchat.com"

DEFAULT_SENDER = "xmppvoicemail"

# Dictionary of phone numbers to nicknames.  Phone numbers should be of the
# format "16135551234", with no extra -s or ()s or anything.
NICKNAMES = {
	"16135551234": "Mom",
	"16135559239": "Dad"
}

SESSION_SECRET_KEY = "something-secret"