# Password used to get to the admin console
ADMIN_PASSWORD = "secret"

# The XMPP account to send notifications to.
# Change this to the JID of your Xmpp account (example: dthompson@gmail.com)
#
# Set to None if you don't want to receive notifications via XMPP; you'll
# get them by email instead. 
USERJID = "you@domain.com"

# The email address to send notifications to if you are offline.
#
# Set to None if you don't want to receive emails.  The last few messages will
# be logged in the admin UI, but if you don't check the admin UI often you
# might lose messages.
USER_EMAIL = "you@domain.com"

# This is the number of SMS messages to keep a log of (in-memory only -
# cleared if your App restarts.)  Set to 0 to disable. 
LOG_SIZE = 10

#Twilio Account SID
TWILIO_ACID = "XXX"
#Twilio Auth Token
TWILIO_AUTH = "XXX"
#Twilio number to use
TWILIO_NUMBER = "555555555"

SESSION_SECRET_KEY = "something-secret"
