# Password used to get to the admin console
ADMIN_PASSWORD = "secret"

# The XMPP account to send notifications to.
# Change this to the JID of your Xmpp account (example: dthompson@gmail.com).
USERJID = "you@domain.com"

# The email address to send notifications to if you are offline.
USER_EMAIL = "you@domain.com"

#Twilio Account SID
TWILIO_ACID = "XXX"
#Twilio Auth Token
TWILIO_AUTH = "XXX"
#Twilio number to use
TWILIO_NUMBER = "555555555"

SESSION_SECRET_KEY = "something-secret"
